/* Общие настройки */

body {
	padding: 0;
	margin: 0;

	min-width: 900px;
	max-width: 1200px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;

	color: #ffffff;

	background-color: #91a79b;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

a {	
	font: inherit;
	color: inherit;
	text-decoration: none;
}

/* Кнопки не главного меню */

.button {
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	-moz-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
	-webkit-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
	-ms-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
  
	vertical-align: middle;

	border: none;

  	background-image: linear-gradient(to top, rgb(231,74,53), rgb(242,104,67));
  	box-shadow: 0px 2px 2px 0px rgba(172,16,0,0.64);
  	border-radius: 20px;
}

.button:hover,
.button:focus {
	color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;

	background-image: linear-gradient(to top, rgb(241,125,101), rgb(241,125,101));
	box-shadow: 0px 2px 2px 0px #ac1000;
	text-decoration: none;
}

.button:active {
	border: 0px;
	outline: 0px;
	background-image: linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Главное меню */

.main-header-logo {
	position: absolute;
	width: 154px;
	height: 64px;
	top: 10px;
	left: 27px;
	margin-right: 20px;
}

nav.main-navigation {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 200px;
	margin-top: 10px;
}

/*   Кнопки главного меню */

.main-navigation a {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* Левая часть меню */

ul.site-navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 40%;
	margin-left: 20px;
	margin-top: 30px;
}
/* Тонкая подчеркивающая полоска*/
.site-navigation a.site-navigation {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* Кнопки главного меню */
.main-navigation a.site-navigation:hover,
.main-navigation a.site-navigation:focus {
	color: #323232;

	background-color: #ffffff;
	border-radius: 20px;
}

.main-navigation a.site-navigation:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);

  color: #89a194;
}

.main-navigation .site-navigation a.current {
	color: #ffffff;
	background-color: #d07058;
	border-radius: 20px;
}


.site-navigation .catalog {
	width: 60px;
}

.site-navigation .delivery {
	width: 134px;
}

.site-navigation .about-us {
	width: 87px;
}

/* выпадающее меню каталога */
.site-navigation .catalog-items {
	position: absolute;
	overflow: auto;
	top: 28px;
	left: -15px;
	display: none;
	width: 144px;

	color: #323232;
	text-align: left;
	font-size: 14px;
	line-height: 16px;

	background-color: rgb(248, 247, 244);
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  	border-radius: 5px;
}

.site-navigation .catalog-items a {
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
	border-radius: 0;
}

.site-navigation .catalog-items .new-items {
	font-weight: bold;
	border-bottom: 1px solid rgb(209,208,206);
}

.catalog-items a:hover,
.catalog-items a:focus {
  	background-color: #faddd6;
  	background-size: 100%;
  	border-radius: 0;

  	color: #323232;
}

.catalog-items a:active {
	background-color: #f6b5a5;
	box-sizing: 100%;
	border-radius: 0;
}

.site-navigation li.catalog:hover ul {
	display: block;
	position: absolute;
	top: 20px;
	width: 144px;
	z-index: 20;
}

/* правые кнопки */

ul.user-navigation {
	display: flex; 
	justify-content: space-between;
	width: 230px;

	vertical-align: baseline;

	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Кнопки общие черты*/

.user-navigation .navigation-item {
	background-color: #a1b4a9;
	border-radius: 20px;
}

.user-navigation .navigation-item:hover,
.user-navigation .navigation-item:focus {
	background-color: #f8f7f4;
	color: #323232;
	border-radius: 20px;
}

/* Кнопка поиска */

.user-navigation .search {
	width: 35px;
	height: 35px;
	position: relative;

	background-color: #b0c0b7;
	background-image: url(../img/loupe.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
}
.user-navigation .search:hover {
	background-image: url(../img/loupe_black.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;

	width: 35px;
	height: 35px;

	margin-left: -10px;
}

/* Форма поиска */

.user-navigation .search-form {
	display: none;
	position: absolute;
	top: 45px;
	right: 25px;

	margin: 0;

	width: 340px;
	padding: 15px 20px;
	background-color: #ffffff;
	border-radius: 5px;
}

.search-form {
	display: flex;
	justify-content: stretch;
}

.search-form input {
	width: 310px;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	color: #999999;

	overflow: auto;

	padding-left: 13px;
	padding-bottom: 20px;

	/* КАК ПРОПРИСОВАТЬ ШИРОКОЕ ПОЛЕ ПОИСКА? */
}

.user-navigation .search:hover form{
	display: block;
}

.user-navigation .login-link a{
	width: 95px;
	padding-left: 40px;
	text-align: right;
	background-image: url("../img/entrance_white.svg");
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.user-navigation .login-link a:hover,
.user-navigation .login-link a:focus {
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.user-navigation .basket a{
	width: 115px;
	padding-left: 40px;
	text-align: right;
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.user-navigation .basket a:hover,
.user-navigation .basket a:focus {
	width: 115px;
	padding-left: 40px;
	text-align: right;
	background-image: url("../img/basket-black.svg");
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.main-header-container {
	font-size: 14px;
	line-height: 16px;
}

.contact-information {
	display: block;
	position: absolute;

	text-align: right;

	top: 73px;
	right: 194px;

	width: 170px;
}

.contact-information .open-hours {
	font-size: 14px;
	line-height: 16px;
}

.contact-information span.phone-number {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

/* КОНЕЦ ПРОВЕРКИ СТИЛЕЙ */

.special-offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 590px;

	background-image: url("../img/icecream-white-stripes-8.png");
	background-color: transparent;
	background-position: 200px -50px;
	background-repeat: no-repeat;
}

.special-offer h2 {
	align-self: left;

	font-size: 56px;
	line-height: 60.35px;
	font-weight: bold;
	text-align: center;
	word-wrap: break-word;

	width: 630px;
	padding: 0;
	padding-left: 295px;
	padding-top: 315px;
	margin: 0;
	margin-bottom: 40px;
}

.special-offer button.big-button {
	display: block;
	align-self: center;
	width: 276px;
	font-size: 32px;
	line-height: 44px;
}

.button .small-button {
	height: 44px;
	border-radius: 20px;
}

.special-offer .button {
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
}

.special-offer .button,
.promo-list a.button,
.subscribe-mail button.subscribe-button,
.contact-info a.button 
.catalog .button {
	font-size: 18px;
	line-height: 24px;

	padding: 10px;
	margin-right: 20px;
  	/* Прижать кнопки вправо */

}

.special-offer .button:hover,
.special-offer .button:focus,
.catalog .button:hover,
.catalog .button:focus,
.promo-list a.button:hover,
.promo-list a.button:focus,
.subscribe-mail button.subscribe-button:hover,
.subscribe-mail button.subscribe-button:focus,
.contact-info a.button:hover,
.contact-info a.button:focus {
  
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.container .promo {
	margin-bottom: 40px;
}

ul.promo-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	min-width: 516px;
}

.promo-item h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;

	padding-left: 20px;
}

.promo-item p {
	font-size: 18px;
	line-height: 22px;

	min-width: 515px;
	padding-left: 20px;

}

.promo-list .promo-raspberries {
	min-width: 420px;
	max-width: 560px;
	height: 230px;
	background-image: url("../img/raspberry-background.jpg");
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.promo-list .promo-chocolate {
	min-width: 420px;
	max-width: 560px;
	height: 230px;
	background-image: url("../img/chockolate-background.jpg");
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.promo-list a.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	text-align: center;
	vertical-align: center;
	text-decoration: none;

	color: #ffffff;
}

ul.gallery-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

li.gallery-item {
	width: 267px;
	text-align: center;

	position: relative;
	margin-right: 20px;
}

li.gallery-item:nth-child(4n) {
	margin-right: 0px;
}

.gallery-item img {
	display: block;
	width: 267px;
	height:267px;
	margin-bottom: 19px;
	border-radius: 50%;
}


.gallery-item h3 {
	font-size: 16px;
	line-height: 22px;

	width: 265px;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.gallery-item a:not(.button){
  	color: #ffffff;
  	text-decoration: none;
  	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

a.gallery-item:hover,
a.gallery-item:focus {
	background-color: #9bafa3;
/*кнопка при наведении*/
}

.gallery .gallery-list,
.gallery .gallery-list li,
.gallery .gallery-list a {
	margin: 0 auto;
	padding: 0;
}

.gallery-item .button {
	display: block;
	position: absolute;
	content: "";
	top: 339px;
	width: 200px;
	padding: 10px;
	text-align: center;
	background-image: linear-gradient(to top, rgb(231,74,53), rgb(242,104,67));
  	box-shadow: 0px 2px 2px 0px rgba(172,16,0,0.64);
  	border-radius: 20px;
  	display: none;
}

.gallery-item:hover .cover {
	display: flex;
	justify-content: center;
}

.gallery-item:hover .button {
	display: block;
	width: 200px;
	z-index: 1;
}

.gallery-list .gallery-item::before {
	display: block;
	content: "";

	position: absolute;
	left: -13px;
	top: -6px;
	width: 293px;
	height: 320px;

	padding-bottom: 77px;

	background-color: rgba(255,255,5255,0.3);
	border-radius: 5px;
	z-index: 0; 
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  	display: none;
  	 /* Нижняя мороженка наезжает на фон */
}

.gallery-list .gallery-item:hover::before {
	display: block;
	z-index: -1;
}

.gallery-list .hit::after {
	display: block;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	z-index: 2;
	background-image: url("../img/hit.jpg");
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
}

p.item-price {
	display: block;
	position: absolute;
	top: 215px;
	left: 0;
	content: "";

  font-size: 40px;
  line-height: 45px;
  font-weight: bold;
  
  color: rgb(255, 255, 255);
  
  text-align: left;
  
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

p.item-price span {
	font-size: 26px;
}

section.features {
	margin-bottom: 40px; 
	line-height: 22px;

	color: #000000;

	background-image: url("../img/wafer-pattern.jpg");
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 13px;
}

ul.features-list {
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}

p.features-main-character {
	padding-top: 30px;
	padding-left: 20px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

div.features-list-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

li.feature-item {
	width: 500px;
	padding-right: 35px;
}

.feature-item p {
	padding-left: 75px;
}

div.subscribe-wrap {
	display: flex;
	justify-content: space-between;
	height: 220px;
}

article.news-from-blog {
	min-width: 420px;
	max-width: 560px;

	background-image: url("../img/strawberry-background.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;

	/* Картинку надо как-то сжать в размер */

	border-radius: 20px;

	color: #323232;
}

.news-from-blog h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;

	word-wrap: wrap;

	padding-left: 20px;
}

.news-from-blog a {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;

	width: 290px;

	padding-left: 20px;
	word-wrap: wrap;

	color: #323232;
	/* Как вставить отступ второй строки от края блока? */
}

.subscribe-block {
	min-width: 420px;
	max-width: 560px;

	font-size: 16px;
	line-height: 22px;

	color: #5a5a5a;

	background-color: rgb(248,247,244);

	border-radius: 13px;
	border: 5px;
	/*прописать градиент*/
}

.subscribe-block p {
	padding: 20px;
	text-align: justify;
	margin-bottom: 40px;
}

.subscribe-mail {
	display: flex;
	padding-left: 20px;
	/* отрегулировать размер поля ввода */
}

.subscribe-mail input[type="text"] {
	font-size: 16px;
	line-height: 24px;

	height: 44px;
	text-align: left;
	vertical-align: middle;

	border: 1px solid #999999;
	border-radius: 5px;

	color: #999999;
}

figure.contacts-map img{
	width: 1200px;
	height: 430px;

	margin: 0px;
	padding: 0;

	/* надо растянуть на всю ширину блока */

}

.contact-info {
	display: block;

	width: 300px;
	height: 308px;

	color: #323232;

	background-color: rgb(254,254,254);
	border-radius: 20px;
}

.contact-info p {
	padding-left: 20px;
}

.contact-info p.contacts-first-line {
	padding-top: 30px;
}

.contact-info p.contacts {
	font-size: 14px;
	line-height: 20px;
}

.contact-info p.contacts-bold {
	font-weight: bold;
}

.contact-info .button {
	display: block;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;

	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.main-footer {
	font-size: 13px;
	line-height: 18px;

	margin-top: 38px;
	margin-left: 20px;

	display: flex;
	justify-content: space-between;

	border-top: 1px solid #ffffff;
	padding-top: 25px;
}

ul.footer-social {
	display: flex;
	justify-content: space-between;
	width: 200px;

	/* почему-то к нему прилепает соседний флекс-блок */
}

.footer-social li {
	width: 40px;
	height: 40px;
}

.footer-social a {
	font-size: 0px;
	margin: -1px;
	padding: 0;
	text-decoration: none;

	background-color: #e6ebe9;
	border-radius: 50%;
}

ul.footer-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 310px;
}

.footer-links .factory {
	order: 3;
}

.footer-links .documentation {
	order: 2;
}

.footer-links .standarts {
	order: 4;
}

.footer-links .current {
	font-weight: bold;
}

.copyright {
	width: 220px;
	margin-left: auto;
	padding: 0;
}

.additional-information a {
	color: #ffffff;
}

.copyright a {
	color: #ffffff;
}

.modal {
	background-color: #f8f7f4;
}

.modal-search,
.modal-login {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

.inner-page .breadcrumbs {
	display: flex;
	justify-content: space-between;

	width: 230px;
}

.inner-page ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inner-page input[type="checkbox"] {
	list-style: none;
}

.inner-page .breadcrumbs li {
	margin-right: 20px;
}

.inner-page .breadcrumbs a {
	font-size: 14px;
	line-height: 16px;

	display: block;

	color: #ffffff;
}

.inner-page .catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
}

.inner-page .catalog-list li,
.catalog-list a,
.catalog-list p {
	margin: 0;
	padding: 0;
}

a.button+.item-button {
	display: none;
}

.inner-page .pagination {
	display: block;
	width: 190px;

	/* сдвинуть блок вправо*/
}

.inner-page .pagination-list {
	display: flex;
	justify-content: space-between;
}

.pagination-list li {
	width: 27px;
	height: 27px;
}

.pagination-list a {
	font-size: 16px;
	line-height: 18px;

	width: 27px;
	height: 27px;

	color: #ffffff;

	text-decoration: none;
}

.pagination-list a.current {
	color: #999999;
	background-color: #ffffff;

	border-radius: 50%;
}

.catalog-list {
	margin: 0;
	padding: 0;
	margin-left: 20px;
}

.catalog-list .gallery-item {
	width: 270px;
}

.catalog-list h3 {
	font-weight: normal;
}

.inner-page .filter-form {
	display: flex;
	justify-content: strenth;
	flex-wrap: wrap;

	width: 880px;
}

.filter-form .sorting,
.filter-form .filter-pricing,
.filter-form .fats-container,
.filter-form .topping-container {
	display: flex;
}

.filter-form .sorting {
	width: 195px;
	margin-right: 15px;
	flex-direction: column;
}

.filter-form .filter-pricing {
	width: 220px;
	margin-right: 15px;
}

.fats .fats-container {
	flex-wrap: wrap;
	font-size: 14px;
	width: 400px;
}

.inner-page .filter-form .filter-item {
	font-size: 14px;
	width: 700px;
	line-height: 16px;
}

.inner-page .filter-form .button {
	color: #ffffff;

	border: 2px solid #ffffff;
	background-color: rgba(166, 183, 174, 0.19);
}


